<h2>Get in touch</h2>
<div class="contact-form-wrapper">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex provident quis recusandae quisquam voluptatum fugiat sit delectus, omnis labore quibusdam culpa adipisci obcaecati molestias esse impedit minima error accusamus soluta.
    </p>
    <div class="card">
        <h3>Contact form</h3>
        <form>
            <div class="contact-controls-wrapper">
                <div class="form-control control-name">
                    <label for="name">Name <span class="required-asterix">*</span></label>
                    <input type="text" id="name">
                </div>

                <div class="form-control control-email">
                    <label for="email">Email address <span class="required-asterix">*</span></label>
                    <input type="email" id="email">
                </div>
            </div>

            <div class="form-control">
                <label for="message">Message <span class="required-asterix">*</span></label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>
            <div class="form-actions">
                <button class="btn-accent" type="button">Send</button>
            </div>
        </form>
    </div>
</div>